<!DOCTYPE html>
<!DOCTYPE>

<html>

  <head>
    <title>SteemStars! Galaxy</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

     <%= javascript_include_tag 'main' %>
     <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => 'reload' %>

    <!-- for testing with local version of cytoscape.js -->
    <!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->

    <script>
$('#user_name').html('<%= @user.email %>');
    </script>
  </head>

  <body>
      <center>
    <h1>SteemStars! Galaxy</h1>
      </center>
    <div id="cy"></div>

  </body>

</html>