<% content_for :top_content do %>
<center>
  <%= image_tag("banner.png", :alt => "banner image by @renzoarg") %>
 <br>
 Image by @renzoarg
  <div class="Welcome">
      <h1>Welcome!</h1>
      Register to get started.
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
</center>
<% end %>
