<!DOCTYPE html>
<!DOCTYPE>

<html>

  <head>
    <title>SteemStars! Galaxy</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

     <%= javascript_include_tag 'application' %>

    <!-- for testing with local version of cytoscape.js -->
    <!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->

    <style>
      body {
        font-family: helvetica, sans-serif;
        font-size: 14px;
        font color: "white";
        background-image: url(<%= asset_path 'possiblebackground.png' %>)
        }
      #cy {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
      }
      h1 {
        opacity: 0.5;
        font-size: 2em;
        font color: #ccc;
      }
    </style>

    <script>
    
    
    document.addEventListener('DOMContentLoaded', function(){
              var cy = window.cy = cytoscape({
              container: document.getElementById('cy'),
              boxSelectionEnabled: false,
              autounselectify: true,
              autoungrabify: false,
             
              layout: {
                name: 'grid',
                      },
               style: [
                    {
                selector: 'node',
                style: {
                  'height': 20,
                  'width': 20,
                  'background-color': '#FEE003',
                  'label': 'data(label)',
                  'background-opacity': 100,
                  'color': '#FFFFFF',
                  'text-transform': 'uppercase',
                  'font-weight': 'bold',
                  'font-style': 'italic',
                  'font-family': '"Times New Roman", Georgia, Serif',
                  'text-shadow-blur': '100',
                  'shadow-blur': '10',
                  'background-opacity': 0.6
                 }
                 },
                 {
                   selector:'edge',
                   style: {
                     'line-color': '#1247A9',
                     'width': 1,
                     'opacity': 0.4
                   }
                   
                 }
                 
                  ],
             elements: [
               { data: {id: "parent", label: 'raymonjohnstone' }, classes: 'background' },
               
            ]
            
              });
             
            });
   
        
        $.getJSON('accounts/raymonjohnstone/followers.json', function(followerS) {
           for (var prop in followerS) {
           cy.add({group: "nodes", data: {id: prop, label: followerS[prop]}, position: {}});
           cy.add({group: "edges", data: {source: prop, target: "parent"}})
                                       }
        cy.layout({ name: 'concentric', 
        nodeRepulsion: function( node ){ return 800; }, 
        gravity: 10, 
        nodeOverlap: 5000, 
        initialTemp: 400,
        minnodespacing: 1,
        padding: 0,
        idealEdgeLength: function( edge ){ return 10; }});
        });
    </script>
  </head>

  <body>
      <center>
    <h1>SteemStars! Galaxy</h1>
      </center>
    <div id="cy"></div>

  </body>

</html>