<!DOCTYPE html>
<!DOCTYPE>
<html>
 <head>
 </head>
  <body>
<%= image_tag("yellow.png", :rel => "lightbox" , :alt => "yellow") %><h1>Follower</h1><br>
<%= image_tag("green.png", :alt => "green") %><h1>Mutual</h1><br>
<%= image_tag("blue.png", :alt => "blue") %><h1>Followed</h1><br>
  </body>
</html>