<!DOCTYPE html>
<!DOCTYPE>
<html>
 <head>
  <% if !current_user.steemaccount.present? %>
  <div class="alert alert-success">You must set your steemaccount in your <%= link_to 'Profile', edit_user_registration_path, class: 'btn btn-primary btn-lg' %></div>
  <% else %>
  <script type="text/javascript">
    window.currentUser = {steemaccount : "<%=current_user.steemaccount%>"}
  </script>
  <% end %>
 </head>
  <body>
    <center>
    <h1>SteemStars! Galaxy</h1>
    </center>
    <div id="cy"></div>
    
  </body>
</html>