<!DOCTYPE html>
<!DOCTYPE>
<html>
 <head>
  <script type="text/javascript">
    window.currentUser = {
        steemaccount : "<%=current_user.steemaccount%>"
    }
</script>
 </head>
  <body>
    <center>
    <h1>SteemStars! Galaxy</h1>
    </center>
    <div id="cy"></div>
    
  </body>
</html>