<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p>Please remember to verify your steemaccount name once you are logged in as well,
you can access it by clicking the drop down in top right corner of your screen.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
